<!DOCTYPE html>
<html>
    <head>
        <title>Pamēģini čatot</title>
        <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon"/>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
       
    </head>
    <body onload="lasiChatu()"; class="body">
        Šeit varēs čatot
        <div id="chats">
            
        </div>
        <div>
            <input type="text" id="zinja" type="text" required   size="100">
            <button type="button" onclick="sutiZinju()">Sūti</button>
        </div>
        <script src="static/darbs.js"></script>
    </body>
</html>