<!DOCTYPE html>
<html>
    <head>
        <title>Pamēģini čatot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="static/darbs.js"></script>
    </head>
    <body onload="lasiChatu()"; class="body">
        Šeit varēs čatot
        <div id="chats">
            
        </div>
        <div>
            <input type="text" id="zinja" type="text" required   size="100">
            <button type="button" onclik="sutiZinju()">Sūti</button>
        </div>
    </body>
</html>